<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OverloadClientTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <OverloadClientTool.Properties.Settings>
            <setting name="OverloadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="OlproxyPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkTheme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TrayOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverloadParameters" serializeAs="String">
                <value>-singleinstance -nolog</value>
            </setting>
            <setting name="OlproxyParameters" serializeAs="String">
                <value>-v</value>
            </setting>
            <setting name="EmbeddedOlproxy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MapListUrl" serializeAs="String">
                <value>https://www.overloadmaps.com/data/mp.json</value>
            </setting>
            <setting name="UseOlproxy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseOlmod" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoUpdateMaps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseDLCPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSavePilots" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OlmodPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DebugLogging" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UpdateOnlyExistingMaps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PassGameDirToOlmod" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoUpdateOlmod" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoUpdateOCT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideNonOfficialMaps" serializeAs="String">
                <value>True</value>
            </setting>
        </OverloadClientTool.Properties.Settings>
    </userSettings>
</configuration>