<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OverloadClientTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <OverloadClientTool.Properties.Settings>
            <setting name="OverloadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="TrayOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverloadParameters" serializeAs="String">
                <value>-singleinstance</value>
            </setting>
            <setting name="MapListUrl" serializeAs="String">
                <value>https://www.overloadmaps.com/data/all.json</value>
            </setting>
            <setting name="UseOlproxy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseOlmod" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoUpdateMaps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseDLCPath" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSavePilots" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OlmodPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DebugLogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdateOnlyExistingMaps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PassGameDirToOlmod" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoUpdateOlmod" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoUpdateOCT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideNonOfficialMaps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ActiveThemeName" serializeAs="String">
                <value>Dark Gray</value>
            </setting>
            <setting name="ShowFPS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutostartServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="trackerBaseUrl" serializeAs="String">
                <value>https://tracker.otl.gg</value>
            </setting>
            <setting name="serverName" serializeAs="String">
                <value>My Overload Server</value>
            </setting>
            <setting name="notes" serializeAs="String">
                <value>Change these notes to give information about your server, such as geographical location, hardware, bandwidth, etc.</value>
            </setting>
            <setting name="isServer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="keepListed" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeMP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeSP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IncludeCM" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideHiddenMaps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="assistScoring" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OnlyMinimizeOnClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartClientHotkeyString" serializeAs="String">
                <value />
            </setting>
            <setting name="SwitchDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SwitchGaming" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultDisplay" serializeAs="String">
                <value />
            </setting>
            <setting name="GamingDisplay" serializeAs="String">
                <value />
            </setting>
            <setting name="SuppressWinKeys" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="D3App" serializeAs="String">
                <value>C:\Descent3\main.exe</value>
            </setting>
            <setting name="D3Args" serializeAs="String">
                <value> -launched -nomultibmp -nointro -nooutragelogo -pilot Maestro</value>
            </setting>
            <setting name="D2App" serializeAs="String">
                <value>C:\Descent2\d2x-rebirth.exe</value>
            </setting>
            <setting name="D1App" serializeAs="String">
                <value>C:\Descent\d1x-rebirth.exe</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>Small</value>
            </setting>
        </OverloadClientTool.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
